body {
   background: #f3f5f6;
}
#app-container {
   padding: 2.5em 0 0;
}
footer.ui {
   margin-top:1em;
}
.logo {
   display: block;
   margin: 0 auto 0.5em;
}
.uppercase {
   text-transform: uppercase !important;
}
.text-center {
   text-align: center;
}
