<template name="Join">
   <div id="app-container" class="ui container">
      <div class="ui middle aligned center aligned grid">
         <div class="column">
         {{#if userIsNotJoined}}
            <form id="" class="ui large form">
               <div class="ui stacked tall segment text-center ">
                  <div class="field" placeholder="Last Name">
                     <div class="ui pointing below label">
                        Ingresa tu nombre o apodo
                     </div>
                     <input type="text" class="text-center" name="name">
                  </div>
                  <button type="submit" class="ui fluid large teal submit button">JUGAR</button>
               </div>
            </form>
         {{/if}}
            <footer class="ui text-center">
               <img src="meteor-logo.png" width="120" alt="" class="logo">
               <small class="uppercase">Buenos Aires Meetup</small>
            </footer>
         </div>
      </div>
   </div>
</template>


